.about {
  color: $text-color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 150px;

  &__header {
    font-size: 5rem;
    color: $color-primary;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  &__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__img {
    width: 70%;
  }

  &__label {
    color: $color-primary;
  }

  &__info {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
}
