.main {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  &__context {
    width: 40%;
  }

  &__title {
    color: #70c8ff;
    font-size: 2.5rem;
  }

  &__subtitle {
  }
}
