@media screen and (max-width: 960px) {
  .navbar {
    &__container {
      display: flex;
      justify-content: space-between;
    }

    #mobile-menu {
      position: absolute;
      top: 30%;
      right: 7%;
    }

    &__toggle .bar {
      display: block;
      cursor: pointer;
      width: 35px;
      height: 6px;
      background: $color-primary;
      margin: 7px auto;
    }

    &__toggle.active .bar:nth-child(2) {
      opacity: 0;
    }

    &__toggle.active .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }

    &__toggle.active .bar:last-child {
      transform: translateY(-18px) rotate(-45deg);
    }

    &__menu {
      display: grid;
      grid-template-columns: auto;
      width: 70%;
      height: 100vh;
      position: fixed;
      right: -1000px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      z-index: -1;
      background-color: rgb(29, 29, 29);
      padding: 80px 0;
    }

    &__links,
    &__contact {
      color: #fff;
      font-size: 2rem;
      display: inline-block;
    }

    &__links {
      &::after {
        bottom: -4px;
        height: 3px;
      }
    }

    &__menu.active {
      right: 0;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    &__container-icons {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
    }

    &__icons {
      color: #fff;
      transition: 0.4s ease;

      &.fa-envelope:hover {
        color: #03c75a;
      }

      &.fa-linkedin:hover {
        color: #0077b5;
      }

      &.fa-instagram:hover {
        color: #fd1d1d;
      }
    }

    &__item {
      padding: 0;

      &:last-child {
        display: block;
      }

      &:nth-child(5) {
        display: none;
      }
    }
  }
}
