@media screen and (max-width: 960px) {
  .navbar {
    &__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 1;
      max-width: 1300px;
      padding: 0;
    }

    &__menu {
      font-size: 1.6rem;
      display: grid;
      grid-template-columns: auto;
      width: 70%;
      position: absolute;
      right: -1000px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 100vh;
      z-index: -1;
      background-color: rgb(80, 79, 79);
      border-radius: 5% 0 0 5%;
    }

    &__menu.active {
      right: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 100;
    }

    &__item {
      &:nth-child(1),
      &:nth-child(8) {
        display: block;
      }
    }

    &__toggle .bar {
      width: 25px;
      height: 3px;
      transition: all 0.3s ease;
      background: #fff;
      margin: 5px auto;
    }

    #mobile-menu {
      position: absolute;
      top: 60px;
      right: 50px;
    }
  }
}
