@media screen and (max-width: 960px) {
  .navbar {
    &__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    #mobile-menu {
      position: absolute;
      top: 25%;
      right: 7%;
    }

    &__toggle .bar {
      display: block;
      cursor: pointer;
      width: 35px;
      height: 6px;
      background: $color-primary;
      margin: 5px auto;
    }

    &__toggle.active .bar:nth-child(2) {
      opacity: 0;
    }

    &__toggle.active .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }

    &__toggle.active .bar:last-child {
      transform: translateY(-14px) rotate(-45deg);
    }

    &__menu {
      font-size: 1.6rem;
      display: grid;
      grid-template-columns: auto;
      width: 70%;
      position: absolute;
      right: -1000px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      z-index: -1;
      background-color: rgb(32, 32, 32);
      padding: 80px 0;
    }

    &__links,
    &__contact {
      color: #fff;
    }

    &__menu.active {
      right: 0;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    &__contact {
      padding-top: 25px;
    }

    &__container-icons {
      display: flex;
      justify-content: space-between;
      padding: 20px 270px;
    }

    &__icons {
      color: #fff;
    }

    &__item {
      &:last-child {
        display: block;
      }

      &:nth-child(6) {
        display: none;
      }
    }
  }
}
