.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  &__item {
    height: 80px;

    &:nth-child(1),
    &:nth-child(8) {
      display: none;
    }
  }

  &__links {
    color: $color-primary;
    font-weight: 00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.3rem;
    height: 100%;
  }
}

.navbar__logo {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;

  &_k {
    height: 60px;
  }
}
